.App{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: plum;
  color: plum;
}
.main{
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 5rem;
}
.heading{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading h1{
  margin: 0;
}
.searchBox{
  width: 100%;
  height: 4rem;
  background-color: white;
    backdrop-filter: blur(30px); 
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: plum;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.searchBox input{
  height: 60%;
  width: 70%;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid palevioletred;
}
.resultBox{
  width: 100%;
  background-color: #fff;
  color: #000;
  height: 24rem;
  overflow-y: scroll;
  border-radius: 5px;
}
.resultBox::-webkit-scrollbar {
  width: 10px;
}

.resultBox::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: plum;
  border: 1px solid #fff;
  transition: all 0.5s ease-in-out;
}

.resultBox::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 130, 255);
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.resultBox::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}
.resultBox p{
  margin: 0;
  padding: 0.5rem 1rem;
}

.card{
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid plum;

}